.Planeta-mini
{
    margin-top:10px;
    margin-bottom:10px;
    transition: 0.3s;
}

.Planeta-mini:hover
{
    transform:scale(1.2);   
}

#mercurio-mini
{
    width:auto;
    height:12vh;

}

#venus-mini
{
    width:auto;
    height:17vh;
}

#tierra-mini
{
    width:auto;
    height:14vh;
}

#marte-mini
{
    width:auto;
    height:12vh;
    margin-top:15px;
}

#jupiter-mini
{
    width:auto;
    height:15vh;
}

#saturno-mini
{
    width:auto;
    height:11vh;
}

#urano-mini
{
    width:auto;
    height:15vh;
}

#neptuno-mini
{
    width:auto;
    height:13vh;
    margin-top:20px;
}

#pluton-mini
{
    width:auto;
    height:12vh;
}









#div-comencemos
{
    background: url(https://www.telemundo.com/sites/nbcutelemundo/files/styles/article_cover_image/public/images/promo/article/2016/11/30/espacio-china.jpg?itok=lV5YY0_V)
    no-repeat center;


    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color:wheat;
    font-size: 30px;
    height:700px;
    background-size:100% 100%;
    margin:0;
}

@media (max-width: 600px)
    {
    #div-comencemos
    {
        height: 250px;
    }
    }

.div-planeta
{
    background: url(https://www.xtrafondos.com/wallpapers/universo-espacio-interestelar-2903.jpg)
    no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: thistle;
    align-items:center;
    height: 550px;
}









#img-mercurio
{
    width:auto;
    height:200px ;
}

#img-venus
{
    width:auto;
    height:310px ;
}

#img-tierra
{
    width:auto;
    height:270px ;
}

#img-marte
{
    width:auto;
    height:190px ;
}

#img-jupiter
{
    width:auto;
    height:300px ;
}

#img-saturno
{
    width:auto;
    height:160px ;
}

#img-urano
{
    width:auto;
    height:330px ;
}

#img-neptuno
{
    width:auto;
    height:250px;
}


#img-pluton
{
    width:auto;
    height:180px ;
}










.div-text
{
    background-color: lightslategray;
    color:black;
    height: 550px;
}

p
{
    margin:1em;
    text-align: justify;
}

.row-vacia
{
    height: 100px;

}

#master
{
    margin-left: auto;
    margin-right: auto;
    padding:0px;

}