
#div-descripcion
{
    float: left;
    background-color: cornsilk;
    width: 50%;
    height: 250px;
    font-size: 22px;
}

#div-contenido
{
   float: right;
   background-color: rgb(117, 117, 117);
   width: 50%;
   height: 250px;
   color:rgb(0, 0, 0);
   font-family: 'Space Mono', monospace;
   font-size: 100%;
}
