.div-titulo
{
    background-color:#062b81;
    color: #fae0e0;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    margin: 1px;
}

th
{
    padding:8px;
    width: 33%;
    text-align: right;
}

.texto-no-margin
{
    margin: 0px;
}

.div-nav-bar
{
    font-family: "Space Mono", monospace;
    font-size: 18px;
    text-align: center;
}

.link-limpio
{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

body
{
    background-attachment: fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.div-centrado
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 16%;
}

.div-izquierdo
{
    float:left;
    width: 50%;
}

.div-derecho
{
    float: right;
    width: 50%;
}

.div-texto-importante
{
    font-size: 1em;
}

p
{
    font-size: 100%;
}